body {
  background-color: hsl(214, 17%, 92%);
}

main {
  margin: 0 auto;
}

.profile-daniel {
  background-color: hsl(263, 55%, 52%);
}

.profile-jonathan {
  background-color: hsl(217, 19%, 35%);
}

.profile-jeanette {
  background-color: hsl(0, 0%, 100%);
}

.profile-patrick {
  background-color: hsl(219, 29%, 14%);
}

.profile-kira {
  background-color: hsl(0, 0%, 100%);
}

.profile-daniel,
.profile-jonathan,
.profile-jeanette,
.profile-patrick,
.profile-kira {
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.header-daniel,
.header-jonathan,
.header-jeanette,
.header-patrick,
.header-kira {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-avatar img {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.intro-text-name {
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 110%;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

.intro-text-job {
  font-size: 11px;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 110%;
  letter-spacing: 0px;
}

.title-text {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 120%;
  letter-spacing: 0px;
}

.intro-text-job-dark {
  color: hsl(217, 19%, 35%);
}

.intro-text-name-dark {
  color: hsl(219, 29%, 14%);
}

.title-text-dark {
  color: hsl(217, 19%, 35%);
}

.blurb {
  margin-top: 20px;
}

.blurb-work {
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 140%;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template: repeat(8, 1fr);
  }

  .profile-daniel {
    grid-column: span 8;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .profile-jonathan {
    grid-column: span 4;
  }

  .profile-jeanette {
    grid-column: span 4;
  }

  .profile-patrick {
    grid-column: span 8;
  }

  .profile-kira {
    grid-column: span 8;
  }

  .profiles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'daniel daniel daniel daniel daniel daniel jonathan jonathan jonathan kira kira kira'
      'jeanette jeanette jeanette patrick patrick patrick patrick patrick patrick kira kira kira';
  }

  .profile-daniel {
    grid-area: daniel;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .profile-jonathan {
    grid-area: jonathan;
  }

  .profile-jeanette {
    grid-area: jeanette;
  }

  .profile-patrick {
    grid-area: patrick;
  }

  .profile-kira {
    grid-area: kira;
  }

  .profiles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
