.profile-daniel {
  background-color: hsl(263, 55%, 52%);
}

.profile-jonathan {
  background-color: hsl(217, 19%, 35%);
}

.profile-jeanette {
  background-color: hsl(0, 0%, 100%);
}

.profile-patrick {
  background-color: hsl(219, 29%, 14%);
}

.profile-kira {
  background-color: hsl(0, 0%, 100%);
}

.profile-daniel,
.profile-jonathan,
.profile-jeanette,
.profile-patrick,
.profile-kira {
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.header-daniel,
.header-jonathan,
.header-jeanette,
.header-patrick,
.header-kira {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
