body {
  background-color: hsl(214, 17%, 92%);
}

main {
  margin: 0 auto;
}

.profile-daniel {
  background-color: hsl(263, 55%, 52%);
}

.profile-jonathan {
  background-color: hsl(217, 19%, 35%);
}

.profile-jeanette {
  background-color: hsl(0, 0%, 100%);
}

.profile-patrick {
  background-color: hsl(219, 29%, 14%);
}

.profile-kira {
  background-color: hsl(0, 0%, 100%);
}

.profile-daniel,
.profile-jonathan,
.profile-jeanette,
.profile-patrick,
.profile-kira {
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.header-daniel,
.header-jonathan,
.header-jeanette,
.header-patrick,
.header-kira {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template: repeat(8, 1fr);
  }

  .profile-daniel {
    grid-column: span 8;
  }

  .profile-jonathan {
    grid-column: span 4;
  }

  .profile-jeanette {
    grid-column: span 4;
  }

  .profile-patrick {
    grid-column: span 8;
  }

  .profile-kira {
    grid-column: span 8;
  }

  .profiles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'daniel daniel daniel daniel daniel daniel jonathan jonathan jonathan kira kira kira'
      'jeanette jeanette jeanette patrick patrick patrick patrick patrick patrick kira kira kira';
  }

  .profile-daniel {
    grid-area: daniel;
  }

  .profile-jonathan {
    grid-area: jonathan;
  }

  .profile-jeanette {
    grid-area: jeanette;
  }

  .profile-patrick {
    grid-area: patrick;
  }

  .profile-kira {
    grid-area: kira;
  }

  .profiles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
